.tal__contenedor {

    text-align: center;
    display: block;
    gap: 100px;

.tal__titulo {

    margin: 20px;
    border-top: solid 1px #eee;
}

.tal__lista {
    list-style: none;
}

.tal__contenido {
    margin: 5px;
}

.tal__img {
    align-self: center;
    margin: 15px;
}
}

.title-cards{
    text-align: center;
}