.navbar__list {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: flex-end;
}

.navbar__item {
    background-color: #E5989B;
    border-radius: 5px;
    margin: 2px;
    overflow: hidden;

    :hover {
        text-decoration: none;
        color: black;
    }
}