*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

html, body{
    height: 100%;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

$fondo: rgba(173, 216, 230, 0.479);


.bg-cuerpo{
    background-color: $fondo;
}


